{% extends 'authentication_app/base.html' %}

{% block content %}

<h1>Critiques :</h1>
<input type="button" onclick="window.location.href = 'http://127.0.0.1:8000/tickets/add/' " value="Créer un ticket">
<input type="button" onclick="window.location.href = 'http://127.0.0.1:8000/review/add/' " value="Créer une critique">
<ul>
    {% for review in reviews %}
    <li><a href="{% url 'review_detail' review.id %}">{{ review.headline }}</a></li>
    {% endfor %}
</ul>
<input type="button" onclick="window.location.href = 'http://127.0.0.1:8000/home/' " value="Home">
{% endblock %}