{% extends 'authentication_app/base.html' %}

{% block content %}

<h1>Rechercher un utilisateur : </h1>

<form action="" method="post" novalidate enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Envoyer">
</form>
<h2>Utilisateur que vous suivés:</h2>
<ul>
  {% for u in followed_user %}
  <p>{{ u.followed_user.username }}<a class="button" href="{{ u.id }}/delete">Supprimer</a></p>
  {% endfor %}
</ul>
<h2>Utilisateur qui vous suivent:</h2>
<ul>
  {% for u in following_user %}
  <p>{{ u.user.username }}</p>
  {% endfor %}
</ul>

{% endblock %}





