@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

head, body {
    font-family: 'Montserrat';
}

header {
    position: relative;
    width: 100%;
    height: 80px;
    background: rgb(81, 159, 223);
    z-index: 10;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    margin: auto;
    padding-right: 19%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
    padding-bottom: 25px;
}

nav a {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    
}

nav a:hover {
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    width: 0%;
    transition: 0.2s;
}

nav a:hover::before{
    width: 100%;
}

.item {
    position: static;
    width: 50%;
    border: solid;
    background-color: rgb(192, 211, 247);
    padding: 1em;
    margin: 2em auto;
}

img{
    width: 50%;
}

.item_review_ticket{
    border: solid 2px;
    padding: 1em;
    background-color: rgb(233, 236, 241);
}

.item_ticket{
    position: static;
    width: 50%;
    border: solid;
    background-color: rgb(233, 236, 241);
    padding: 1em;
    margin: 2em auto;
}

.button{
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 1em;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
}
